@charset "utf-8";


/* start: EBFW Backend -------------------------------------------------------------------------- */

	.ebfw-headline {
		position: relative;
		padding: 0;
		margin: 0;
		z-index: 100;
	}
	.ebfw-headline h2.rex-hl2 {
		font-size: 12px;
		border-bottom: none;
	}
	.ebfw-error label {
		color: #e34;
	}
	
	
	/* start: ERROR Handling ---------------------------------------------------------------------*/
	.crf-error + div.rex-widget {
		/*border: 1px solid #e34;*/
	}
		.crf-error + div.rex-widget input {
			border: 1px solid #e34;
			background-color: #FAE9E5 !important;
		}
	.crf-error table.mceLayout {
		border: 1px solid #e34;
	}
		.crf-error table.mceLayout .mceStatusbar {
			background-color: #FAE9E5;
		}
	/* end: ERROR Handling -----------------------------------------------------------------------*/


/* end: EBFW Backend  --------------------------------------------------------------------------- */